body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url('logreg.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start; /* Aligns form to the left */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 50px; /* Adds space to the left of the form */
}

.login-container {
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px); /* Optional: Adds blur effect to the background */
}

h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    font-size: 35px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #666666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333333;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #d9534f;
    margin-bottom: 20px;
    text-align: center;
}


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed; /* Fixed position to stay at the top */
    top: 0; /* Position at the top */
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure navbar stays on top */
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}



/* Adjusting padding for the login container to prevent overlap with navbar */
.login-container {
    margin-top: 60px; /* Adjust this value based on navbar height */
}
